.ant-layout .ant-layout-header {
	background-color: rgb(255, 255, 255);
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.ant-layout .ant-layout-sider {
	position: fixed;
	top: 60px;
	z-index: 999;
	min-height: 100vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.ant-layout .ant-layout-content {
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-top: 60px;
	border: 2px solid #eee;
}

.logo-header {
	position: relative;
	margin-right: auto;
	margin-left: 5px;
	height: 50px;
	width: auto;
	cursor: pointer;
}

.anticon {
	font-size: large;
}
.search-wrapper {
	display: flex;
	margin-right: 20px;
	align-items: center;
}

.search-bar {
	display: flex;
	height: 40px;
	align-items: center;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 8px;
}

.search-icon {
	margin-right: 10px;
	fill: #1890ff; /* Ant Design primary color */
}

.search-input {
	border: none;
	outline: none;
	flex: 1;
}
.searchDivider {
	margin: 5px;
}
